@media (max-width: 992px) {
    .header_area .navbar .nav .nav-item {
        margin-right: 0;
        text-align: right;
        line-height: 2;
        margin-bottom: 10px
    }
    .header_area .navbar .nav .nav-item:last-child {
        margin-right: 0
    }
    .portfolio-menu ul li {
        margin-bottom: 0
    }
    .portfolio-menu {
        margin-bottom: 30px
    }
    .vid-about-us iframe {
        height: 316px!important
    }
    .who-text {
        width: 100%;
        padding-top: 0;
    }
    .header_area .navbar .navbar-nav {
        background-color: #1b2b5d;
        padding: 10px 20px;
        position: absolute;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .vid-reviews {
        margin-bottom: 20px
    }
    .portfolio-menu ul li {
        margin-bottom: 0
    }
    .vid-about-us iframe {
        height: 245px!important
    }
}

@media (max-width: 600px) {
    .content .text-area h1 {
        font-size: 43px;
    }
    .content .text-area h2 {
        font-size: 43px;
    }
    .owl-carousel .owl-nav button.owl-prev {
        left: 0;
        color: #000
    }
    .owl-carousel .owl-nav button.owl-next {
        right: 0;
        color: #000
    }
    .vid-about-us {
        margin-top: 0;
        padding: 0!important
    }
    .vid-about-us video {
        height: auto!important
    }
    .header-why {
        padding: 50px 0;
    }
    .portfolio-menu ul li {
        padding: 8px 15px;
        font-size: 12px;
        font-weight: 500;
    }
}

@media (max-width: 575px) {
    #products .owl-carousel .owl-nav button.owl-next {
        right: 0;
        background-color: #1b2b5d
    }
    #products .owl-carousel .owl-nav button.owl-prev {
        left:0;
        background-color: #1b2b5d
    }
}
@media (max-width: 500px) {
    .content .text-area h1 {
        font-size: 33px;
    }
    .content .text-area h2 {
        font-size: 33px;
    }
    fieldset {
        padding: 20px;
    }
    section.hero #owl-demo .item .item-text .item-inner h2 {
        font-size: 38px;
    }
    section.hero #owl-demo .item .item-text .item-inner img {
        max-width: 215px;
    }
    section.hero #owl-demo .item1, section.hero #owl-demo .item2, section.hero #owl-demo .item3 {
        height: 620px;
    }
    .video-preview.icon-xl i:before,
    .video-preview.icon-xl i:after {   
      font-size: 4.8rem;
    }
}

@media (max-width: 400px) {
    .portfolio-menu ul li {
        padding: 5px 10px;
        font-size: 10px;
        font-weight: 500;
        border-width: 1px;
        margin: 10px 2px
    }
    .vid-about-us iframe {
        height: 100%!important;
    }
    .vid-reviews iframe {
        height: 100%!important;
    }
}